altgraph==0.17.3
bpy==3.5.0
certifi==2023.5.7
charset-normalizer==3.1.0
Cython==0.29.35
idna==3.4
numpy==1.24.3
pefile==2023.2.7
pyinstaller==5.13.0
pyinstaller-hooks-contrib==2023.5
pywin32-ctypes==0.2.2
requests==2.31.0
u-msgpack-python==2.8.0
urllib3==2.0.3
zstandard==0.21.0
